<!-- displaying pitch in macros-->
{% macro displayPitch(pitch_list) %}
    {% for pitch in pitch_list %}
    <div class="container col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="panel panel-info" style="height:auto;width:auto;margin-bottom:20%;margin-left:0%;">
                    <div class="panel-heading">
                        <h2>{{pitch.title}}</h2>
                    </div>
                    <div class="panel-body">
                        <p>{{ pitch.pitch }}</p>
                        <p><i>Written By: </i><b>{{pitch.name}}</b></p>
                        <p><i>Published At: </i><b>{{pitch.posted}}</b></p>
                    </div>
                    <div class="panel-footer">
                        <p>{{pitch.category}}</p>
                    </div>
                </div>
            </div>
    {% endfor %}
{% endmacro %}